/*body {
    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}*/

/*

Colour Palette
https://coolors.co/19272d-ffffff-3d5a80-98c1d9-e0fbfc

*/

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.container>.navbar-header {
    margin-right: 0px; 
    margin-left: -15px; 
}


*{

font-family: 'Roboto', sans-serif;
} 


.debate_row{
	margin-top: 20px;
	margin-bottom: 50px;
}



 
.header_background{
  	background: url('img_parallax.jpg') no-repeat center center;
	/* Full height */
	height: 100%; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  background:transparent;
  text-align: center; 
  background-color: rgba(34, 34, 34, 0.46);   
}
.container .jumbotron, .container-fluid .jumbotron { 
    border-radius: 0px;  
}


.jumbotron > h1{
	font-size: 60px
}

.jumbotron > h2{
	font-size: 30px
}


.debate_button{
	color:black;
}


.debate_card{
	width:60%;
	height:450px;
	background-color:red;
	margin:0 auto;
	color:white;
	text-align: center;
	font-size: 20px
}

.debate_card_holder{
	margin-left: 100px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}




.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box; 
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300; 
}

.card .card-image {
  position: relative;
  overflow: hidden;
}


.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
  height: 245px;
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
   object-fit: cover;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.6);
  text-align: center;
}
.card .card-image  p.card-desc { 
    /* top: 0; */
    bottom: 0;
    display:none;
    color:white;
    font-size:16px;
}



.card-image span.card-title {
  webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; 
  height:25%;
}


.card-image:hover span.card-title {
  height:100%;
  cursor:pointer;
}

.card-image:hover p.card-desc {
  display: block; 
  text-align: center;
  top: 25%;
  transition: 2s;
  word-wrap: break-word;
}



.card .card-action { 
  padding: 10px;
}
 
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.btn-default{

    padding: 10px;
    border-radius: 0px;
    margin: 0 10px 0px 10px;
}


.navbar {
    margin-bottom: 0px;
}

 
/*Scroll   
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #757575;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
::-webkit-scrollbar-thumb:active {
  background: #c0c0c0;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
} 
*/